fastapi==0.115.12
uvicorn[standard]==0.34.2
sqlalchemy==2.0.40
psycopg2-binary==2.9.10
asyncpg==0.29.0
pydantic[email]==2.11.3
pydantic-settings==2.9.1
python-dotenv==1.0.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
itsdangerous==2.2.0
aiosmtplib==3.0.2
slowapi==0.1.9
cloudinary==1.44.0
python-multipart==0.0.9
